* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
}

.wrapper .header {
  width: 100%;
  height: 7vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.781);
}

.wrapper .header .nav__wrap {
  width: 100%;
}

.wrapper .header .nav__wrap .fa {
  display: inline-block;
  width: 50px;
  margin-top: 15px;
  margin-left: 20px;
  color: rgba(109, 109, 223, 0.658);
}

.wrapper .header .nav__wrap .search {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 75px;
  background: transparent;
  text-align: center;
  font-size: 20px;
  padding-right: 25px;
  height: 30px;
  width: 15%;
  border: 1px solid black;
  border-radius: 20px;
}

.wrapper .header .nav__middle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .header .nav__middle a {
  display: block;
  float: left;
  color: white;
}

.wrapper .header .nav__middle a .fa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 15px;
}

.wrapper .header .nav__middle a:hover {
  color: #a83e3e;
}

.wrapper .main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  height: 93vh;
}

.wrapper .main .left {
  width: 100%;
  height: 93vh;
  background-color: rgba(0, 0, 0, 0.781);
  border-right: 1px solid black;
}

.wrapper .main .section {
  width: 100%;
  height: 93vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.781);
}

.wrapper .main .section::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card {
  width: 80%;
  margin-left: 10%;
  height: 250px;
  margin-top: 15px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.781);
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(197, 169, 169, 0.699);
  overflow: hidden;
  padding: 10px;
}

.wrapper .main .section .card:first-of-type {
  margin-top: 30px;
}

.wrapper .main .section .card:last-of-type {
  margin-bottom: 30px;
}

.wrapper .main .section .card .card__head {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 10fr 1fr;
}

.wrapper .main .section .card .card__head img {
  width: 50px;
  height: 50px;
  margin-left: 3px;
  border-radius: 27px;
}

.wrapper .main .section .card .card__head .user {
  width: 100%;
  margin-top: 8px;
}

.wrapper .main .section .card .card__head .more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper .main .section .card .card__head .more:hover {
  background-color: sienna;
  border-radius: 20px;
}

.wrapper .main .section .card .card__main {
  width: 100%;
}

.wrapper .main .section .card .card__main p {
  overflow-y: scroll;
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  overflow-y: scroll;
}

.wrapper .main .section .card .card__main p::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card .card__main .card__like {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid sienna;
  border-top: 2px solid sienna;
  width: 100%;
  height: 50px;
}

.wrapper .main .section .card .card__main .card__like a {
  color: black;
}

.wrapper .main .section .card .card__main .card__like a:hover {
  border-radius: 20px;
  width: 120px;
  background-color: sienna;
}

.wrapper .main .section .card .card__main .card__like a .fa {
  padding: 10px;
}

.wrapper .main .section .card .card__footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 5fr;
  padding-top: 5px;
}

.wrapper .main .section .card .card__footer img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 27px;
}

.wrapper .main .section .card .card__footer .comment {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.wrapper .main .section .card .card__footer .comment .input__comment {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
  color: black;
  background-color: rgba(197, 169, 169, 0.699);
}

.wrapper .main .section .card .card__footer .comment .input__comment::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card .card__footer .card__icons {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.wrapper .main .section .card .card__footer .card__icons a {
  padding: 10px;
  color: black;
}

.wrapper .main .section .card .card__footer .card__icons a:hover {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: sienna;
}

.wrapper .main .right {
  width: 100%;
  height: 93vh;
  background-color: rgba(0, 0, 0, 0.781);
  border-left: 1px solid black;
}
